/* variables */
:root {
    --green-price: #184b52;
    --light-green-price: #38a8a8;
    --lighter-green-price: #45bdbd;
    --grey-green: #135d63;
    --light-grey: #e2e0e033;
    --red: #ff0000;
    --green: #22dd22;
}


/* HTML tag changes */
body {
    background-color: lightblue;
}

i {
    position: absolute;
    margin-top: 7px;
    margin-left: 5px;
}


/* phone only */
@media screen and (max-width: 768px) {
    .phone-margin-last-item {
        margin-bottom: 40px;
    }

    .phone-margin-input {
        margin-left: 25px;
        margin-right: 30px;
    }
}


/* css classes */
/* often used */
.center-element-x {
    display: flex;
    justify-content: center;
}


/* Tip section user background */
.white-tip-background {
    background-color: white;
    border-radius: 25px;
    border: 2px solid white;
}


@media screen and (max-width: 768px) {
    .width-tip-section {
        width: 100%;
    }
}
@media screen and (min-width: 769px) {
    .width-tip-section {
        width: 90%;
    }
}
@media screen and (min-width: 1024px) {
    .width-tip-section {
        width: 58%;
    }
}


@media screen and (max-width: 768px) {
    .padding-white-tip {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
@media screen and (min-width: 769px) {
    .padding-white-tip {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}


/* logo */
@media screen and (max-width: 768px) {
    .margin-logo {
        margin-top: 50px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 769px) {
    .margin-logo {
        margin-top: 115px;
        margin-bottom: 105px;
    }
}
@media screen and (min-width: 1024px) {
    .margin-logo {
        margin-top: 65px;
        margin-bottom: 55px;
    }
}


.size-text-logo {
    font-size: larger;
}


/* boxes */
.flex-wrap-items-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-wrap-items-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.green-price-background {
    background-color: var(--green-price);
    border-radius: 15px;
    border: 2px solid var(--green-price);
}


@media screen and (max-width: 768px) {
    .green-price-sides {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        padding-bottom: 22px;
    }
}
@media screen and (min-width: 769px) {
    .green-price-sides {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 33px;
        padding-bottom: 28px;
    }
}


@media screen and (max-width: 768px) {
    .box-width-left {
        width: 90%;
    }
    .box-width-right {
        width: 80%;
    }
}
@media screen and (min-width: 769px) {
    .box-width-left {
        width: 38%;
    }
    .box-width-right {
        width: 38%;
    }
}


.text-price {
    color: var(--light-green-price);
    font-size: 35px;
}

.text-comment {
    color: var(--grey-green);
    font-size: small;
}

.text-title {
    color: white;
    font-size: small;
}


@media screen and (max-width: 768px) {
    .margin-top-item {
        margin-top: 20px;
    }
}
@media screen and (min-width: 769px) {
    .margin-top-item {
        margin-top: 55px;
    }
}
@media screen and (min-width: 1024px) {
    .margin-top-item {
        margin-top: 40px;
    }
}


@media screen and (max-width: 768px) {
    .margin-bottom-last-price {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 769px) {
    .margin-bottom-last-price {
        margin-bottom: 150px;
    }
}
@media screen and (min-width: 1024px) {
    .margin-bottom-last-price {
        margin-bottom: 120px;
    }
}


.reset-button {
    width: 100%;
    color: var(--green-price);
    font-size: large;
    background-color: var(--light-green-price);
    border-radius: 3px;
    border: 2px solid var(--light-green-price);
    padding-top: 5px;
    padding-bottom: 5px;
}

.reset-button:hover {
    background-color: var(--lighter-green-price);
}


/* left side */
.width-input {
    width: 100%;
}

.input-description-flex {
    display: flex;
    justify-content: space-between;
}

.warning-text {
    font-size: small;
    color: red;
}

.number-input {
    background-color: var(--light-grey);
    text-align: end;
    border-radius: 2px;
    border: 2px solid var(--light-grey);
    height: 25px;
}

.warning {
    border: 2px solid var(--red);
}

.succes {
    border: 2px solid var(--green);
}

@media screen and (max-width: 768px) {
    .margin-top-item-input {
        margin-top: 65px;
    }
}
@media screen and (min-width: 769px) {
    .margin-top-item-input {
        margin-top: 75px;
    }
}
@media screen and (min-width: 1024px) {
    .margin-top-item-input {
        margin-top: 55px;
    }
}


.tip-button{
    width: 30%;
    background-color: var(--green-price);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--green-price);
}

.tip-button:hover {
    background-color: var(--light-green-price);
    border: 1px solid var(--light-green-price);
}

.tip-custom-input {
    width: 28%;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    background-color: var(--light-grey);
}

.tip-inside {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 10px;
}

.number-input-custom {
    text-align: center;
}

input:focus {
    outline: none;
}

.button-selected {
    background-color: var(--lighter-green-price);
    border: 1px solid var(--lighter-green-price);
}